/* Nav section starting from here */
nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: fixed;
  width: 95%;
  justify-content: flex-end;
  margin-left: 10px;
}

.link {
  text-decoration: none;
  display: flex;
  color: white;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.mobile-menu-icon {
  display: none;
}

.icons {
  display: flex;
  align-items: center;
}



.large-border {
  border: solid 3px transparent !important;
  /* background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, rgba(255, 238, 43, 1) 0%, rgba(0, 212, 255, 1) 100%); */
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, var(--button_color) 0%, var(--button_color) 100%) !important;
  background-origin: border-box !important;
  background-clip: content-box, border-box !important;
  box-shadow: 2px 1000px 1px var(--border_color) inset !important;
  transition: none !important;
  color: #fff !important;
  padding: 12px !important;
  cursor: pointer !important;
  border-radius: 30px !important;
  font-weight: bold !important;
  font-size: 10px !important;
  width: 100% !important;
  margin-right: 20px !important;
}

.icon-tabler {
  margin-right: 5px;
}

.github-icon {
  color: white;
}

.menu-items {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {

  .menu-items,
  .signup-button,
  .github-corner {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    color: white;
    display: flex;
    align-items: center;
    font-size: 4vh;
    cursor: pointer;
    top: 0;
    right: 0;
  }
}

.github-corner {
  position: fixed;
  top: 0;
  z-index: 99999;
  right: 0px;
}

/* Nav section ending from here */
.main-section {
  /* background-color: black; */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("bg.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

/* ====== Home Section Start======== */
.Home_section {
  height: 100vh;
  width: 100%;
  background: var(--body_background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home_nft_box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Home_nft_box_img {
  height: 412px;
  width: 412px;
  position: relative;
}

.Home_nft_box_img img {
  height: 100%;
  width: 100%;
  position: absolute;
}

.home_cus_bg_end {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.home_cus_bg_end img {
  height: 50px;
  width: 600px;
  margin-top: 200px;
}

.mint_option_btn {
  height: 50px;
  width: 600px;
  display: flex;
  padding: 20px;
}

/* ====== Home Section End======== */
.main-section img {
  height: 512px;
  width: 512px;
  position: absolute;
}

.item1 {
  height: 512px;
  width: 512px;
  position: absolute;
}

.character-section {
  width: 100%;
  /* background: url("bg.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.box-male {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box-female {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.img-box {
  /* flex-basis: 70%; */
  background-color: aqua;
}

.img-cus {
  /* position: relative; */
}

.img-cus img {
  height: 412px;
  width: 412px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img_cus_bg {
  height: 412px;
  width: 412px;
  /* background: #bc20474b; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cus_bg_end {
  height: 412px;
  /* width: 412px; */
}

.cus_bg_end img {
  height: 50px;
  width: 600px;
  margin-top: 200px;

}

.buttons {
  padding: 10px;
  margin: auto;
}

.btn_row {
  height: 50px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  border-radius: 8px;
}

.custom_btn {
  /* height: 100%;
  width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;

  /* color: #fff;
  width: 35px;
  height: 18px;
  padding: 8px 16px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border: none;
  background-color: #ff9aff;
  box-shadow: 0 0 5px #ef97e8;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease; */
}

/* .custom_btn:hover {
  box-shadow: 0 0 10px #ef97e8, 0 0 20px #ef97e8, 0 0 20px #fff inset;
  transform: scale(0.97);
} */

.custom_btn img {
  color: #fff;
  height: 30px;
  margin: 10px;
  cursor: pointer;
  text-shadow:
    0 0 1px #ef97e87e,
    0 0 2px #ef97e87e,
    0 0 3px #ef97e87e,
    0 0 4px #ef97e87e,
    0 0 5px #ef97e87e,
    0 0 6px #ef97e87e;
}

.btn_name {
  height: 40px;
  width: 200px;
  background: #BC2048;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;

}

.btn_name2 {
  height: 40px;
  width: 200px;
  background: #00f7ffda;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;

}

.btn_name h3 {
  color: #fff;
  font-size: 22px;
  text-shadow:
    0 0 1px #ef97e87e,
    0 0 2px #ef97e87e,
    0 0 3px #ef97e87e,
    0 0 4px #ef97e87e,
    0 0 5px #ef97e87e,
    0 0 6px #ef97e87e;
}

.customItem {
  font-size: 0.8rem;
  margin: 0px;
  color: rgb(109, 109, 109);
  border-style: none;
  border-radius: 5px;
  background: #FFF0FB 0% 0% no-repeat padding-box;
  margin-bottom: 1.2rem;
  width: 100%;
  border: 1px solid rgba(109, 109, 109, .4);
  ;
  padding: 0.3rem;
  outline: none;
  font: Inter;
  color: #874D9E;
}

.nrmlTxt {
  color: white;
  font-family: Inter;
  font-size: 1rem;
}


@media screen and (max-width: 1400px) {
  .img_cus_bg {
    height: 312px;
    width: 312px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .img-cus img {
    height: 312px;
    width: 312px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .cus_bg_end {
    height: 312px;
  }

  .cus_bg_end img {
    height: 47px;
    width: 450px;
    margin-top: 160px;
  }
}

@media screen and (max-width: 1200px) {
  .img_cus_bg {
    height: 212px;
    width: 212px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .img-cus img {
    height: 212px;
    width: 212px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .cus_bg_end {
    height: 212px;
  }

  .cus_bg_end img {
    height: 22px;
    width: 380px;
    margin-top: 110px;
  }

  .custom_btn img {
    color: #fff;
    height: 25px;
    margin: 5px;
  }

  .btn_name {
    height: 35px;
    width: 170px;
  }

  .btn_name h3 {
    font-size: 16px;
  }

  .btn_name2 {
    height: 35px;
    width: 170px;
  }

  .btn_name2 h3 {
    font-size: 16px;
  }

  .mint_option_btn {
    height: 20px;
    width: 400px;
    padding: 10px;
  }

  .mint_option_btn button {
    height: 40px !important;
  }
}

@media screen and (max-width: 900px) {
  .large-border {
    height: 35px !important;
    width: 90% !important;
  }

  .wallet-adapter-button-start-icon img {
    height: 18px !important;
    width: 18px !important;
  }

  .Home_nft_box_img {
    height: 212px;
    width: 212px;
  }

  .img_cus_bg {
    height: 212px;
    width: 212px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .img-cus img {
    height: 212px;
    width: 212px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .buttons {
    margin-top: 330px;
  }

  .btn_row {
    height: 36px;
  }

  .cus_bg_end img {
    height: 22px;
    width: 370px;
    margin-top: 110px;
  }

  .custom_btn img {
    height: 20px;
  }

  .btn_name {
    height: 28px;
    width: 122px;
  }

  .btn_name h3 {
    font-size: 14px;
  }

  .btn_name2 {
    height: 28px;
    width: 122px;
  }

  .btn_name2 h3 {
    font-size: 14px;
  }

  .mint_option_btn {
    height: 40px !important;
    width: 320px !important;
    padding: 5px;
  }

  .mint_option_btn button {
    height: 40px !important;
  }
}