@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@600&family=Slackey&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

.dt-bg-transparent {
  /* background-color: transparent !important; */
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

@font-face {
  font-family: "OpenSans";
  src: url("../asset/font/OpenSans-Regular.ttf");
  font-style: normal;
}

.__slider .slick-arrow {
  z-index: 999;
  width: 26px;
  height: 26px;
  background-color: white !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.8px;
}
.__slider .slick-arrow::before {
  color: #111;
  font-size: 22px;
}
.__slider .slick-arrow.slick-next {
  right: -27px;
}
.__slider .slick-arrow.slick-prev {
  left: -28px;
}

.__desktop_nav {
  display: none !important;
}

.__logo {
  width: 130px;
  display: block;
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  .__desktop_nav {
    display: flex !important;
  }
  .__mobile_nav {
    display: none !important;
  }
  .__logo {
    width: 166px;
    display: block;
  }
}
@media only screen and (max-width: 800px) {
  .__slider .slick-arrow.slick-next {
    right: -5px;
  }
  .__slider .slick-arrow.slick-prev {
    left: -5px;
  }
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  color: #ffffff !important;
  background-color: #0241ff !important;
  border-color: #0241ff !important;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #ffffff !important;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(202, 8, 103, 0.5);
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #0241ff;
  border-color: #0241ff;
}

@media (min-width: 576px) {
  .modal {
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-blue) !important;
  border-color: var(--bs-blue);
}

.__modal_cotent_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 25px;
  width: 90vw;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.__inputs_wrapper,
.__inputs_wrapper_get_trained,
.__get_trained_text_arear_wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
.__get_trained_text_arear_wrapper {
  margin-top: 20px;
}
.show_on_desktop {
  display: none !important;
}
.show_on_mobile {
  display: block !important;
}

@media (min-width: 576px) {
  .__inputs_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .__modal_cotent_wrapper {
    width: 550px;
  }
}
@media (min-width: 800px) {
  .__inputs_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .__modal_cotent_wrapper {
    width: 750px;
  }
  .__inputs_wrapper_get_trained {
    grid-template-columns: repeat(4, 1fr);
  }
  .__get_trained_text_arear_wrapper {
    grid-template-columns: 30% auto;
  }
  .show_on_desktop {
    display: inline-block !important;
  }
  .show_on_mobile {
    display: none !important;
  }
  .__fixed_height_on_desktop {
    min-height: 811px;
    max-height: 909px;
    height: 750.5px;
  }
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 1em;
  padding: 0;
  width: 1em;
  background-image: url("/img/color-picker.png");
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.selectedBgButton {
  background: #272D37 !important;
}

.nonSelectedBgButton {
  background: transparent !important;
  border: solid #7c81ef 2px !important;
  border-bottom: transparent !important;
}

#downloadExcel{
  padding : 5px 20px;
  text-align : center;
  background-color : #5B52AD;
  border-radius : 5px;
  cursor: pointer;
  outline : none;
  border : none;
  color : white;
  margin-right: 10px;
}