.main {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0;

  .border {
    display: flex;
    flex: 10 10;
    background-image: url(../../asset/back.png);
    background-size: cover;
  }

  .body {
    display: flex;
    width: 100%;
    margin: 150px;
    flex-direction: column;
    border: 1px solid #707070;
    background: #7068af 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px rgb(0 0 0 / 99%),
      10px 7px 6px rgb(40 3 128 / 90%);
    border: 1px solid #707070;
    border-radius: 30px;
    opacity: 1;
    padding: 60px;
    justify-content: space-around;
    .bodyTop1 {
      display: flex;
      background-color: #ad78b3;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      text-align: center;
      letter-spacing: 0px;
      text-align: center;
      font: normal normal normal 70px  Museo;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .bodyTop2 {
      margin-top: 40px;
      color: #ffffff;
      text-align: center;
      letter-spacing: 0px;
      justify-content: center;
      font: normal normal normal 50px Museo;
      font-weight: bold;
      display: flex;
      div {
        width: 50%;         
        button{
          border: none;
          background-color: transparent;
          color: white;
          font-weight: bold;
        }
        span:nth-child(1) {
          cursor: pointer;
          margin-left: 10px;
          background-color: white;
          color: #707070;
        }
      }
     
    }

    .bodyTop3 {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #707070;
      text-align: center;
      letter-spacing: 0px;
      text-align: center;
      font: normal normal normal 40px Museo;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 1250px) {
  .main {
    .body {
      .bodyTop1,
      .bodyTop2,
      .bodyTop3 {
        // font: normal normal normal 30px Museo;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .main {
    .body {
      margin: 140px 80px;
      .bodyTop1,
      .bodyTop2,
      .bodyTop3 {
        // font: normal normal normal 30px Museo;
      }

      .bodyTop2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .main {
    .body {
      margin: 140px 50px;
      .bodyTop1,
      .bodyTop2 {
        font: normal normal normal 18px Museo;
      }

      .bodyTop2 {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .main {
    .body {

      margin: 140px 20px;
    }
  }
}

@media screen and (max-width: 250px) {
  .main {
    .body {
      margin: 140px 0px;
    }
  }
}