@media screen and (min-width: 900px) {
  .main {
    padding-top: 58px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    & > .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #7975b6;
      background-repeat: no-repeat;
      background-size: cover;
      gap: 25px;
      & > .bodyWrapper {
        max-width: 1378px;
        max-height: 537px;
        margin: 0px 32px;
        height: 100%;
        & div > .bodyContentWrapper {
          border: 1px solid;
          border-radius: 15px;
          translate: 0px -30px;
          height: calc(100% + 25px);
          width: 100%;
          background: #272D37;
          padding: 55px;
        }
      }
      & > div {
        // width: 90%;
        translate: 0px 200px;
        display: flex;
        background: #272d37;
        position: relative;
        gap: 40px;
        padding: 30px;
        border-radius: 20px;        
        & > svg {
          width: 150px;
          height: 150px;
          top: 50px;
          left: 70px;
          position: absolute;
          fill: white;
          cursor: pointer;
        }
        & > div {
          // text-align: left;
          // justify-content: center;
          // display: flex;
          color: white;
          & > .title {
            font-size: 25px;
          }
          & > .titleDescription {
            font-size: 16px;
          }
          & > .artist {
            font-size: 14px;
          }
        }
      }
    }
    
    & > .body {
      
      flex-grow: 1;
      padding-top: 230px;
      padding-bottom: 64px;
      // padding-left: 32px;
      // padding-right: 32px;
      display: flex;
      justify-content: center;
      background-color: blueviolet;
      height: 100%;
      background-size: cover;
      & > .content {
        max-width: 1378px;
        margin: 0px 32px;
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
        & > .mainboard {
          -webkit-user-select: none; /* Safari */
          -ms-user-select: none; /* IE 10 and IE 11 */
          user-select: none; /* Standard syntax */
          // flex-direction: row;
          display: flex;
          gap: 20px;
          max-width: 100%;
          overflow: auto;
          // width: fit-content;
          margin-top: 20px;

          overflow-y: scroll;
          flex-wrap: wrap;
          max-height: 340px;

          & .creator {
            width: 150px;
            text-align: center;
            font-size: 10px;
            background-color: #1b1f26;
            padding: 10px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            // padding-left: 20px;
            justify-content: flex-end;
            align-items: center;
            & > span {
              margin-top: 10px;
              color: white;
              word-break: break-all;
              cursor: pointer;
            }
            & > img {
              width: 130px;
              height: 130px;
              background-color: #251525;
              border-radius: 3px;
            }
            & > div {
              width: 130px;
              height: 100px;
              background-color: #251525;
              border-radius: 8px;
            }
          }
          &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #55154560;
            border-radius: 10px;
            &:hover {
              background-color: #551545;
            }
          }
          &::-webkit-scrollbar-track {
            background-color: #45454590;
            border-radius: 10px;
            &:hover {
              background-color: #45454560;
            }
          }
        }
      }
    }
    & > .footer {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 48px;
      padding-bottom: 48px;
      background-color: black;
      color: white;
      & h4,
      h6 {
        max-width: 1024px;
        word-break: break-all;
        padding: 0px 20px;
      }
    }
  }
}

@media screen and (max-width: 899px) {
  .main {
    padding-top: 32px;
    height: 100%;    
    & > .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: aqua;
      background-repeat: no-repeat;
      background-size: cover;
      gap: 20px;
      flex-direction: column-reverse;
      & div > .qrcodeWrapper{
        translate: 0px -75px;
      }
      & > div {
        width: 90%;
        translate: 0px 200px;
        display: flex;
        background: #272d37;
        position: relative;
        flex-direction: column;
        // gap: 40px;
        padding: 30px;
        border-radius: 20px;
        & > svg {
          width: 150px;
          height: 150px;
          top: 50px;
          left: 70px;
          position: absolute;
          fill: white;
          cursor: pointer;
        }
        & > div {
          // text-align: left;
          // justify-content: center;
          // display: flex;
          color: white;
          & > .title {
            font-size: 25px;
          }
          & > .titleDescription {
            font-size: 16px;
          }
          & > .artist {
            font-size: 14px;
          }
        }
      }
    }
    & > .body {
      flex-grow: 1;
      padding-top: 230px;
      padding-bottom: 32px;
      // padding-left: 16px;
      // padding-right: 16px;
      display: flex;
      justify-content: center;
      background-color: blueviolet;
      background-size: cover;
      height: 100%;
      
      & > .content {
        color: white;
        width: 90%;
        gap: 20px;
        flex-direction: column;
        & > .mainboard {
          -webkit-user-select: none; /* Safari */
          -ms-user-select: none; /* IE 10 and IE 11 */
          user-select: none; /* Standard syntax */
          display: flex;
          gap: 20px;
          margin-top: 20px;
          max-width: 100%;
          // overflow: auto;
          // width: fit-content;

          overflow-y: scroll;
          flex-wrap: wrap;
          max-height: 340px;

          & .creator {
            width: 150px;
            text-align: center;
            font-size: 10px;
            background-color: #1b1f26;
            padding: 10px;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            & > span {
              margin-top: 10px;
              color: white;
              cursor: pointer;
              word-break: break-all;
            }
            & > img {
              width: 130px;
              height: 130px;
              background-color: #251525;
              border-radius: 8px;
            }
            & > div {
              width: 130px;
              height: 100px;
              border-radius: 8px;
              background-color: #251525;
            }
          }
          &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #55154560;
            border-radius: 10px;
            &:hover {
              background-color: #551545;
            }
          }
          &::-webkit-scrollbar-track {
            background-color: #45454590;
            border-radius: 10px;
            &:hover {
              background-color: #45454560;
            }
          }
        }
      }
    }
    & > .footer {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: black;
      padding-top: 24px;
      padding-bottom: 24px;
      & h4,
      h6 {
        max-width: 799px;
        word-break: break-all;
        padding: 0px 20px;
      }
    }
  }
}

.shadowButton {
  box-shadow: 3px 3px 0px 0px #5d3d6a;
  background: lightgray 0% 0% no-repeat padding-box !important;
  border-style: none;
  border-color: none;
  border-radius: 9px;
  opacity: 1;
  height: 30px;
  text-align: center;
  width: 100%;
  font: normal normal normal 12px OpenSans;
  letter-spacing: 0px;
  color: black;
}

.shadowButton1 {
  height: 48px;
  margin-left: 0px;
  background-color: transparent !important;
  border-radius: 15px;
  width: 100% !important;
  max-width: 100% !important;
  border: transparent;
  color: white;
  border: 1px solid white;
}

.shadowButton2 {
  height: 48px;
  margin-left: 0px;
  background-color: #5b52ad;
  border-radius: 15px;
  width: 100% !important;
  max-width: 100% !important;
  border: transparent;
  color: white;
  box-shadow: 4px 3px 6px #251525;
}

.customItem {
  width: 95%;
  border: 0.1px solid #d1d5db;
  padding: 5px;
  border-radius: 5px;
  background: white 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-right: auto;
  outline: none;
}

.nrmlTxt {
  color: black;
  font-family: Inter;
  font-size: 0.8rem;
  margin-bottom: 3px;
  font-weight: bold;
  text-align: center;
}

.nrmlTxt1 {
  color: black;
  font-family: Inter;
  font-size: 1rem;
  margin-bottom: 3px;
  font-weight: bold;
}

.nrmlTxt2 {
  color: grey;
  font-family: Inter;
  font-size: 1.2rem;
  margin-right: auto;
}
