@media screen and (min-width: 800px) {
  .main {
    padding-top: 58px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    & > 
    
    .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #7975b6;
      background-repeat: no-repeat;
      background-size: cover;
      & > div {
        width: 80%;
        min-height: 280px;
        height: fit-content;
        translate: 0px 200px;
        background: #272d37;
        position: relative;
        border-radius: 20px;
        padding: 10px;
        & > img {
          border-radius: 20px;
          width: 250px;
          height: 250px;
          // box-shadow: 0px 1px 1px 2px #dae2e163;
          position: absolute;
          padding: 10px;
        }
        & > div {
          padding-left: 250px;
        }
        & > svg {
          width: 150px;
          height: 150px;
          top: 50px;
          left: 70px;
          border-radius: 10px;
          position: absolute;
          fill: white;
          cursor: pointer;
        }
      }
    }
    & > .body {
      flex-grow: 1;
      padding-top: 80px;
      padding-bottom: 64px;     
      // max-height: 1383px;
      // padding-left: 32px;
      // padding-right: 32px;
      display: flex;
      justify-content: center;
      background-color: blueviolet;
      height: 100%;
      background-size: cover;
      & .artist {
        width: 48px;
        height: 48px;
        border-radius: 5px;
        background-color: #5b52ad;
      }
      & .artist1 {
        width: 48px;
        height: 48px;
        border-radius: 5px;
        background-color: #7a75a7e7;
      }
      & .artist2 {
        width: 48px;
        height: 48px;
        border-radius: 5px;
        background-color: #5b52adbe;
      }
      & > .content {
        // max-width: 1024px;
        width: 80%;
        color: white;
        display: flex;
        gap: 20px;
        padding-top: 200px;
        & > .mainboard {
          -webkit-user-select: none; /* Safari */
          -ms-user-select: none; /* IE 10 and IE 11 */
          user-select: none; /* Standard syntax */
          & > div {
            margin-top: 32px;
          }
          flex-grow: 1;          
          & button {
            // margin-left: 30px;
            height: 48px;
            background-color: cadetblue;
            border-radius: 5px;
            // max-width: 240px;
            width: 100%;
            border: transparent;
            box-shadow: 4px 3px 6px #251525;
          }
          & .creator_list {
            display: flex;
            align-content: flex-start;
            gap: 15px;
            overflow: auto;
            flex-wrap: wrap;
            height: 160px;
            flex-direction: column;
            &::-webkit-scrollbar {
              width: 10px;
              height: 10px;
            }
            &::-webkit-scrollbar-thumb {
              background-color: #55154560;
              border-radius: 10px;
              &:hover {
                background-color: #551545;
              }
            }
            &::-webkit-scrollbar-track {
              background-color: #45454590;
              border-radius: 10px;
              &:hover {
                background-color: #45454560;
              }
            }
          }
          & .creator {
            width: 150px;
            text-align: center;
            font-size: 10px;
            background-color: white;
            border-radius: 8px;
            & > span {
              color: #251525;
              background-color: white;
              word-break: break-all;
              cursor: pointer;
            }
            & > img {
              width: 150px;
              height: 100px;
              background-color: #251525;
              border-top-left-radius: 3px;
              border-top-right-radius: 3px;
            }
            & > div {
              width: 150px;
              height: 100px;
              background-color: #251525;
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
            }
          }
        }
        & > .rightlist {
          min-width: 160px;
          max-width: 160px;
        }
      }
    }
    & .creator_list {
      display: flex;
      align-content: flex-start;
      gap: 15px;
      overflow: auto;
      flex-wrap: wrap;
      max-height: 360px;
      height: fit-content;      
      flex-direction: column;
      width: 100%;
      & .creator {
        width: 150px;
        text-align: center;
        font-size: 10px;
        background-color: #1b1f26;
        padding: 10px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        // padding-left: 20px;
        justify-content: flex-end;
        align-items: center;
        & > span {
          margin-top: 10px;
          color: white;
          word-break: break-all;
          cursor: pointer;
        }
        & > img {
          width: 130px;
          height: 130px;
          background-color: #251525;
          border-radius: 3px;
        }
        & > div {
          width: 130px;
          height: 130px;
          background-color: #251525;
          border-radius: 8px;
        }
      }
      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #55154560;
        border-radius: 10px;
        &:hover {
          background-color: #551545;
        }
      }
      &::-webkit-scrollbar-track {
        background-color: #45454590;
        border-radius: 10px;
        &:hover {
          background-color: #45454560;
        }
      }
    }
    & > .footer {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 48px;
      padding-bottom: 48px;
      background-color: black;
      color: white;
      & h4,
      h6 {
        max-width: 1024px;
        word-break: break-all;
        padding: 0px 20px;
      }
    }
  }
}

@media screen and (max-width: 799px) {
  .main {
    padding-top: 32px;
    height: 100%;
    & > .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #7975b6;
      background-repeat: no-repeat;
      background-size: cover;
      & > div {
        width: 90%;
        min-height: 150px;
        translate: 0px 200px;
        background: #272d37;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 20px;
        & > img {
          border-radius: 10px;
          width: 150px;
          height: 150px;
          translate: 0px -40px;
          box-shadow: 0px 1px 1px 2px #dae2e163;
        }
        & > svg {
          width: 60px;
          height: 60px;
          top: 20px;
          left: 50%;
          position: absolute;
          fill: white;
          cursor: pointer;
        }
      }
    }
    & > .body {
      flex-grow: 1;
      padding-top: 250px;
      padding-bottom: 32px;
      // padding-left: 16px;
      // padding-right: 16px;
      display: flex;
      justify-content: center;
      background-color: blueviolet;
      height: 100%;
      background-size: cover;
      & .artist {
        width: 24px;
        height: 24px;
        border-radius: 3px;
        background-color: #5b52ad;
      }
      & .artist1 {
        width: 24px;
        height: 24px;
        border-radius: 3px;
        background-color: #7a75a7e7;
      }
      & .artist2 {
        width: 24px;
        height: 24px;
        border-radius: 3px;
        background-color: #5b52adbe;
      }
      & > .content {
        color: white;
        width: 90%;
        & > .mainboard {
          -webkit-user-select: none; /* Safari */
          -ms-user-select: none; /* IE 10 and IE 11 */
          user-select: none; /* Standard syntax */
          & > div {
            margin-top: 20px;
          }          
          & button {
            // margin-left: 24px;
            height: 24px;
            background-color: cadetblue;
            border-radius: 5px;
            // max-width: 120px;
            width: 100%;
            border: transparent;
            box-shadow: 4px 3px 6px #251525;
          }
          & .creator_list {
            display: flex;
            align-content: flex-start;
            gap: 15px;
            overflow: auto;
            flex-wrap: wrap;
            height: 160px;
            flex-direction: column;
            &::-webkit-scrollbar {
              width: 10px;
              height: 10px;
            }
            &::-webkit-scrollbar-thumb {
              background-color: #55154560;
              border-radius: 10px;
              &:hover {
                background-color: #551545;
              }
            }
            &::-webkit-scrollbar-track {
              background-color: #45454590;
              border-radius: 10px;
              &:hover {
                background-color: #45454560;
              }
            }
          }
          & .creator {
            width: 150px;
            text-align: center;
            font-size: 10px;
            background-color: white;
            border-radius: 5px;
            & > span {
              color: #251525;
              word-break: break-all;
              background-color: white;
            }
            & > img {
              width: 150px;
              height: 100px;
              background-color: #251525;
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
            }
            & > div {
              width: 150px;
              height: 100px;
              background-color: #251525;
              border-top-left-radius: 3px;
              border-top-right-radius: 3px;
            }
          }
        }
        & > .rightlist {
          max-width: 150px;
          display: none;
        }
      }
    }
    & .creator_list {
      display: flex;
      align-content: flex-start;
      gap: 15px;
      overflow: auto;
      flex-wrap: wrap;
      max-height: 360px;
      height: fit-content;
      flex-direction: column;
      width: 100%;
      & .creator {
        width: 150px;
        text-align: center;
        font-size: 10px;
        background-color: #1b1f26;
        padding: 10px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        // padding-left: 20px;
        justify-content: flex-end;
        align-items: center;
        & > span {
          margin-top: 10px;
          color: white;
          word-break: break-all;
          cursor: pointer;
        }
        & > img {
          width: 130px;
          height: 130px;
          background-color: #251525;
          border-radius: 3px;
        }
        & > div {
          width: 130px;
          height: 130px;
          background-color: #251525;
          border-radius: 8px;
        }
      }
      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #55154560;
        border-radius: 10px;
        &:hover {
          background-color: #551545;
        }
      }
      &::-webkit-scrollbar-track {
        background-color: #45454590;
        border-radius: 10px;
        &:hover {
          background-color: #45454560;
        }
      }
    }
    & > .footer {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: black;
      padding-top: 24px;
      padding-bottom: 24px;
      & h4,
      h6 {
        max-width: 799px;
        word-break: break-all;
        padding: 0px 20px;
      }
    }
  }
}

.shadowButton {
  box-shadow: 3px 3px 0px 0px #5d3d6a;
  background: lightgray 0% 0% no-repeat padding-box !important;
  border-style: none;
  border-color: none;
  border-radius: 9px;
  opacity: 1;
  height: 30px;
  text-align: center;
  width: 100%;
  font: normal normal normal 12px OpenSans;
  letter-spacing: 0px;
  color: black;
}

.shadowButton1 {
  height: 48px;
  margin-left: 0px;
  background-color: transparent !important;
  border-radius: 15px;
  width: 100% !important;
  max-width: 100% !important;
  border: transparent;
  color: white;
  border: 1px solid white;
}

.shadowButton2 {
  height: 48px;
  margin-left: 0px;
  background-color: #5b52ad;
  border-radius: 15px;
  width: 100% !important;
  max-width: 100% !important;
  border: transparent;
  color: white;
  box-shadow: 4px 3px 6px #251525;
}

.customItem {
  width: 100%;
  border: 0.1px solid #d1d5db;
  padding: 5px;
  border-radius: 5px;
  background: white 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-right: auto;
  outline: none;
}

.nrmlTxt {
  color: white;
  font-family: Inter;
  font-size: 0.8rem;
  margin-bottom: 3px;
  font-weight: bold;
  text-align: center;
}

.refreshButton{
  // margin-left: 30px;
  height: 48px;
  background-color: cadetblue;
  // border-radius: 15px;
  // max-width: 240px;
  width: 100%;
  border: transparent;
  border-radius: 5px;
  box-shadow: 4px 3px 6px #251525;
}

.nrmlTxt1 {
  color: white;
  font-family: Inter;
  font-size: 1rem;
  margin-bottom: 3px;
  font-weight: bold;
}

.nrmlTxt2 {
  color: grey;
  font-family: Inter;
  font-size: 1.2rem;
  margin-right: auto;
}
.truncate {
  display: inline-block;
  max-width:100%; /* Adjust this value based on your desired width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}


.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}