.root {
  background-color: #ffffff;
}

.container {
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.container1 {
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.container2 {
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.image1 {
  opacity: 0.35;
}

.centered {
  //background-image: url(../../asset/form1.jpeg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider_title {
  margin-bottom: 1em;
}

.slider_title_header {
  font: normal normal medium 14px/17px Helvetica;
  text-transform: uppercase;
  color: #707070;
}

.slider_title_content {
  color: #707070;
  text-transform: uppercase;
  opacity: 1;
  font: normal normal bold 24px/29px Helvetica;
}

.banner_button {
  justify-content: center;
  text-align: center;
  width: 150px;
  height: 53px;
  background-color: white;
  margin: 5% 33% 0 43%;
}

.btn {
  color: white;

  background-color: transparent;
  margin: 5% 33% 0 25%;
}

.project_button {
  justify-content: center;
  text-align: center;
  color: white;
  width: 150px;
  height: 53px;
  background-color: #0241ff;
  margin: 5% 33% 0 25%;
}

.left {
  display: inline-block;
  background-image: radial-gradient(
      circle,
      rgba(8, 4, 84, 0.6320728975183824) 0%,
      rgba(9, 9, 121, 0.5312325613839286) 95%
    ),
    url(../../asset/form6.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  color: white;
  padding: 1em;
  text-align: center;
  display: flex;
}

.left3 {
  display: inline-block;
  background-image: radial-gradient(
      circle,
      rgba(8, 4, 84, 0.6320728975183824) 0%,
      rgba(9, 9, 121, 0.5312325613839286) 95%
    ),
    url(../../asset/form6.jpeg);

  width: 500px;
  height: 500px;
  color: white;
  padding: 1em;
  text-align: center;
  margin-right: 2em;
}

.modal {
  // z-index: 400;
  // margin-left: 5%;
  // margin-right: ;
  margin-top: 186px;
  margin-left: -95%;

  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49);
}

.formbtn {
  position: absolute;
  min-width: 250px;
  top: 650%;
  left: 50%;
  transform: translate(-47%, -50%);

  font: normal normal 17px/27px Helvetica;
  margin-bottom: 2em;
}

.form_content_1 {
  position: absolute;
  min-width: 300px;
  top: 190%;
  left: 50%;
  transform: translate(-50%, -50%);

  font: normal normal 17px/27px Helvetica;
  margin-bottom: 2em;
}

.form_content_2 {
  position: absolute;
  min-width: 300px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

  font: normal normal 17px/27px Helvetica;
  margin-bottom: 2em;
}

.form_content_3 {
  position: absolute;
  min-width: 300px;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);

  font: normal normal 17px/27px Helvetica;
  margin-bottom: 2em;
}

.spanleft {
  text-transform: uppercase;
  position: absolute;
  min-width: 300px;
  top: -80px;
  left: 50%;
  transform: translate(-50%, -50%);

  font: normal normal bold 27px/37px Helvetica;
  margin-bottom: 2em;
}

.middle {
  display: inline-block;
  background-image: radial-gradient(
      circle,
      rgba(8, 4, 84, 0.6320728975183824) 0%,
      rgba(9, 9, 121, 0.5312325613839286) 95%
    ),
    url(../../asset/form3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  color: white;
  padding: 1em;
  text-align: center;
  display: flex;
}

.span_middle {
  position: absolute;
  min-width: 200px;
  top: -70px;
  left: 50%;
  transform: translate(-50%, -50%);

  font: normal normal bold 27px/37px Helvetica;
  margin-bottom: 2em;
}

.right {
  display: inline-block;
  background-image: radial-gradient(
      circle,
      rgba(8, 4, 84, 0.6320728975183824) 0%,
      rgba(9, 9, 121, 0.5312325613839286) 95%
    ),
    url(../../asset/form2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  color: white;
  padding: 1em;
  text-align: center;
  display: flex;
}

.span_right {
  font: normal normal bold 17px/27px Helvetica;
  margin-bottom: 1em;
}

.left2 {
  display: inline-block;
  background-color: transparent;
  width: 30%;
  text-align: left;
  margin-right: 2em;
}

.middle2 {
  display: inline-block;
  background-color: transparent;
  width: 30%;
  text-align: left;
  margin-right: 2em;
}

.right2 {
  display: inline-block;
  background-color: transparent;
  text-align: left;
  width: 30%;
}

.banner_title {
  font: normal normal bold 27px/37px Helvetica;
  letter-spacing: 0px;
}

.banner_content {
  color: white;
  justify-content: center;
  width: 30%;
  font-size: larger;
  margin: 7% 33% 0 33%;
  text-align: center;
}

.content_container {
  padding: 0 10%;
  height: 100%;
  margin-bottom: 10%;
}

.content_contact_container {
  height: 100%;
  // margin-bottom: 15%;
  @media screen and (min-width: 250px) {
    padding: 35% 5%;
  }
  @media screen and (min-width: 500px) {
    padding: 25% 5%;
  }
  @media screen and (min-width: 830px) {
    padding: 5% 5%;
  }
  @media screen and (min-width: 1000px) {
    padding: 0% 5%;
  }
}

.project_description {
  /* Layout Properties */
  display: inline-block;
  width: 60%;
  margin-left: 1em;
  height: 165px;

  /* UI Properties */

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #707070;
  opacity: 1;
}

.project_type_selection {
  margin-left: 1em;
}

.project_type {
  /* Layout Properties */

  margin-left: 25%;
  width: 171px;

  /* UI Properties */

  text-align: center;
  font: normal normal medium 23px/28px Helvetica;
  letter-spacing: 0px;
  color: #868686;
  text-transform: uppercase;
  opacity: 1;
}

.budget_field {
  /* Layout Properties */

  width: 20%;
  height: 53px;

  /* UI Properties */

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.first_name_field {
  /* Layout Properties */

  margin: 0 1% 1% 1%;
  width: 20%;
  height: 53px;

  /* UI Properties */

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.last_name_field {
  /* Layout Properties */

  margin: 0 1% 1% 0;
  width: 20%;
  height: 53px;

  /* UI Properties */

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.email_field {
  margin: 0 1% 1% 0;
  width: 20%;
  height: 53px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.form2_border {
  .form2_header {
    /* UI Properties */

    text-align: center;
    font: normal normal bold 47px/57px Helvetica;
    letter-spacing: 0px;
    color: #0241ff;

    text-transform: uppercase;
    margin-top: 2%;
    margin-bottom: 2%;
    opacity: 1;
  }

  /* Layout Properties */

  width: 1709px;
  height: 636px;

  /* UI Properties */
  color: blue;
  margin: 2.5% auto 2.5% auto;
  background-image: url(../../asset/banner.jpeg);

  opacity: 1;
}

.form1_border {
  .form1_header {
    /* UI Properties */

    text-align: center;
    font: normal normal bold 47px/57px Helvetica;
    letter-spacing: 0px;
    color: #0241ff;
    background-image: url(../../asset/banner.jpeg);

    text-transform: uppercase;
    margin-top: 2%;
    margin-bottom: 2%;
    opacity: 1;
  }

  /* Layout Properties */

  width: 1709px;
  height: 636px;

  /* UI Properties */
  color: blue;
  margin: 7.5% auto 7.5% auto;

  background-image: url(../../asset/banner.jpeg);
  border: 2px solid #707070;
  opacity: 1;
}

.project_radio_border {
  /* Layout Properties */

  display: inline-block;

  width: 20%;

  height: 100%;
  margin-left: 1em;

  /* UI Properties */

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #707070;
  opacity: 1;
}

.main {
  /* Layout Properties */

  top: 3px;
  left: 0px;
  width: 1920px;
  height: 1081px;

  /* UI Properties */

  /*background: transparent url('img/4882066.png') 0% 0% no-repeat padding-box;*/
  opacity: 1;

  .content {
    /* Layout Properties */

    top: 487px;
    left: 421px;
    width: 1079px;
    height: 84px;

    /* UI Properties */

    text-align: center;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
  }

  .subcontent {
    /* Layout Properties */

    top: 555px;
    left: 618px;
    width: 685px;
    height: 53px;

    /* UI Properties */

    text-align: center;
    font: normal normal normal 30px/36px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
}

.apps {
  /* Layout Properties */

  top: 1228px;
  left: 106px;
  width: 1708px;
  height: 611px;

  /* UI Properties */

  opacity: 1;

  .app_header {
    /* Layout Properties */

    top: 1379px;
    left: 780px;
    width: 360px;
    height: 28px;

    /* UI Properties */

    text-align: left;
    font: normal normal bold 24px/29px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
  }

  .app_p1 {
    /* Layout Properties */

    top: 1440px;
    left: 608px;
    width: 683px;
    height: 163px;

    /* UI Properties */

    text-align: center;
    font: normal normal normal 22px/27px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  .app_button {
    /* Layout Properties */

    top: 1646px;
    left: 805px;
    width: 321px;
    height: 58px;

    /* UI Properties */

    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
  }
}

.slider {
  .slider_header_1 {
    /* Layout Properties */

    top: 1924px;
    left: 109px;
    width: 74px;
    height: 17px;

    /* UI Properties */

    text-align: left;
    font: normal normal medium 14px/17px Helvetica;
    letter-spacing: 0px;
    color: #707070;
    text-transform: uppercase;
    opacity: 1;
  }

  .slider_header_2 {
    /* Layout Properties */

    top: 1946px;
    left: 109px;
    width: 162px;
    height: 28px;

    /* UI Properties */

    text-align: left;
    font: normal normal bold 24px/29px Helvetica;
    letter-spacing: 0px;
    color: #707070;
    text-transform: uppercase;
    opacity: 1;
  }
}

.info {
  .info_header {
    /* Layout Properties */

    top: 3050px;
    left: 131px;
    width: 48px;
    height: 17px;

    /* UI Properties */

    text-align: left;
    font: normal normal medium 14px/17px Helvetica;
    letter-spacing: 0px;
    color: #707070;
    text-transform: uppercase;
    opacity: 1;
  }

  .info_header_one {
    /* Layout Properties */

    top: 3072px;
    left: 131px;
    width: 220px;
    height: 28px;

    /* UI Properties */

    text-align: left;
    font: normal normal bold 24px/29px Helvetica;
    letter-spacing: 0px;
    color: #707070;
    text-transform: uppercase;
    opacity: 1;
  }

  .info_header_two {
    /* Layout Properties */

    top: 3072px;
    left: 131px;
    width: 220px;
    height: 28px;

    /* UI Properties */

    text-align: left;
    font: normal normal bold 24px/29px Helvetica;
    letter-spacing: 0px;
    color: #707070;
    text-transform: uppercase;
    opacity: 1;
  }

  .info_p1 {
    /* Layout Properties */

    top: 3138px;
    left: 131px;
    width: 474px;
    height: 269px;

    /* UI Properties */

    text-align: left;
    font: normal normal normal 22px/27px Helvetica;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }

  .info_header_three {
    /* Layout Properties */

    top: 3072px;
    left: 744px;
    width: 240px;
    height: 28px;

    /* UI Properties */

    text-align: left;
    font: normal normal bold 24px/29px Helvetica;
    letter-spacing: 0px;
    color: #707070;
    text-transform: uppercase;
    opacity: 1;
  }

  .info_p2 {
    /* Layout Properties */

    top: 3138px;
    left: 744px;
    width: 437px;
    height: 107px;

    /* UI Properties */

    text-align: left;
    font: normal normal normal 22px/27px Helvetica;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }

  .info_header_four {
    /* Layout Properties */

    top: 3067px;
    left: 1403px;
    width: 312px;
    height: 28px;

    /* UI Properties */

    text-align: left;
    font: normal normal bold 24px/29px Helvetica;
    letter-spacing: 0px;
    color: #707070;
    text-transform: uppercase;
    opacity: 1;
  }

  .info_p3 {
    /* Layout Properties */

    top: 3138px;
    left: 1403px;
    width: 387px;
    height: 161px;

    /* UI Properties */

    text-align: left;
    font: normal normal normal 22px/27px Helvetica;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }

  .info_image_one {
    /* Layout Properties */

    top: 3230px;
    left: 936px;
    width: 423px;
    height: 425px;

    /* UI Properties */

    //background: transparent url('img/Image 2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  }
}

.submit {
  .forms {
    .forms_title_one {
      /* Layout Properties */

      top: 3655px;
      left: 105px;
      width: 66px;
      height: 17px;

      /* UI Properties */

      text-align: left;
      font: normal normal medium 14px/17px Helvetica;
      letter-spacing: 0px;
      color: #707070;
      text-transform: uppercase;
      opacity: 1;
    }

    .forms_title_two {
      /* Layout Properties */

      top: 3677px;
      left: 105px;
      width: 427px;
      height: 28px;

      /* UI Properties */

      text-align: left;
      font: normal normal bold 24px/29px Helvetica;
      letter-spacing: 0px;
      color: #707070;
      text-transform: uppercase;
      opacity: 1;
    }

    .one {
      /* Layout Properties */

      top: 3746px;
      left: 105px;
      width: 552px;
      height: 544px;

      /* UI Properties */

      background: #0241ff72 0% 0% no-repeat padding-box;
      opacity: 1;

      .text_title1 {
        /* Layout Properties */

        top: 3935px;
        left: 249px;
        width: 256px;
        height: 28px;

        /* UI Properties */

        text-align: left;
        font: normal normal bold 24px/29px Helvetica;
        letter-spacing: 0px;
        color: #ffffff;
        text-transform: uppercase;
        opacity: 1;
      }

      .p1 {
        /* Layout Properties */

        top: 3981px;
        left: 158px;
        width: 438px;
        height: 80px;

        /* UI Properties */

        text-align: center;
        font: normal normal normal 22px/27px Helvetica;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
      }

      .Dropdown1 {
        /* Layout Properties */

        top: 4094px;
        left: 311px;
        width: 133px;
        height: 39px;

        /* UI Properties */

        background: #0241ff 0% 0% no-repeat padding-box;
        opacity: 1;

        .toggled1 {
          /* Layout Properties */

          top: 4094px;
          left: 105px;
          width: 1709px;
          height: 856px;

          /* UI Properties */

          opacity: 1;
        }

        .form1_border {
          /* Layout Properties */

          top: 4314px;
          left: 105px;
          width: 1709px;
          height: 636px;

          /* UI Properties */

          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #707070;
          opacity: 1;
        }

        .form1_title {
          /* Layout Properties */

          top: 4389px;
          left: 710px;
          width: 501px;
          height: 56px;

          /* UI Properties */

          text-align: left;
          font: normal normal bold 47px/57px Helvetica;
          letter-spacing: 0px;
          color: #0241ff;
          text-transform: uppercase;
          opacity: 1;
        }

        .first_name_field {
          /* Layout Properties */

          top: 4471px;
          left: 216px;
          width: 228px;
          height: 53px;

          /* UI Properties */

          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #707070;
          opacity: 1;
        }

        .last_name_field {
        }

        .email_field {
          /* Layout Properties */

          top: 4471px;
          left: 740px;
          width: 453px;
          height: 53px;

          /* UI Properties */

          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #707070;
          opacity: 1;
        }

        .budget_field {
          /* Layout Properties */

          top: 4471px;
          left: 1211px;
          width: 453px;
          height: 53px;

          /* UI Properties */

          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #707070;
          opacity: 1;
        }

        .project_radio_border {
          /* Layout Properties */

          top: 4544px;
          left: 216px;
          width: 260px;
          height: 264px;

          /* UI Properties */

          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #707070;
          opacity: 1;

          .project_type {
            /* Layout Properties */

            top: 4567px;
            left: 241px;
            width: 171px;
            height: 27px;

            /* UI Properties */

            text-align: left;
            font: normal normal medium 23px/28px Helvetica Neue;
            letter-spacing: 0px;
            color: #868686;
            text-transform: uppercase;
            opacity: 1;
          }

          .selection1 {
            /* Layout Properties */

            top: 4623px;
            left: 241px;
            width: 17px;
            height: 15px;

            /* UI Properties */

            background: #e5e3e3 0% 0% no-repeat padding-box;
            opacity: 1;
          }

          .type1 {
            top: 4617px;
            left: 274px;
            width: 127px;
            height: 27px;

            text-align: left;
            font: normal normal medium 23px/28px Helvetica Neue;
            letter-spacing: 0px;
            color: #868686;
            text-transform: uppercase;
            opacity: 1;
          }

          .selection2 {
            top: 4668px;
            left: 241px;
            width: 17px;
            height: 15px;

            background: #e5e3e3 0% 0% no-repeat padding-box;
            opacity: 1;
          }

          .type2 {
            top: 4662px;
            left: 273px;
            width: 151px;
            height: 27px;

            text-align: left;
            font: normal normal medium 23px/28px Helvetica Neue;
            letter-spacing: 0px;
            color: #868686;
            text-transform: uppercase;
            opacity: 1;
          }

          .selection3 {
            top: 4713px;
            left: 241px;
            width: 17px;
            height: 15px;

            background: #e5e3e3 0% 0% no-repeat padding-box;
            opacity: 1;
          }

          .type3 {
            /* Layout Properties */

            top: 4707px;
            left: 274px;
            width: 172px;
            height: 27px;

            /* UI Properties */

            text-align: left;
            font: normal normal medium 23px/28px Helvetica Neue;
            letter-spacing: 0px;
            color: #868686;
            text-transform: uppercase;
            opacity: 1;
          }

          .selection4 {
            /* Layout Properties */

            top: 4758px;
            left: 241px;
            width: 17px;
            height: 15px;

            /* UI Properties */

            background: #e5e3e3 0% 0% no-repeat padding-box;
            opacity: 1;
          }

          .type4 {
            top: 4752px;
            left: 273px;
            width: 145px;
            height: 27px;

            text-align: left;
            font: normal normal medium 23px/28px Helvetica Neue;
            letter-spacing: 0px;
            color: #868686;
            text-transform: uppercase;
            opacity: 1;
          }
        }

        .start_date {
          /* Layout Properties */

          top: 4827px;
          left: 215px;
          width: 261px;
          height: 53px;

          /* UI Properties */

          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #707070;
          opacity: 1;
        }

        .project_description {
          /* Layout Properties */

          top: 4544px;
          left: 505px;
          width: 1159px;
          height: 264px;

          /* UI Properties */

          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #707070;
          opacity: 1;
        }

        .due_date {
          /* Layout Properties */

          top: 4827px;
          left: 505px;
          width: 261px;
          height: 53px;

          /* UI Properties */

          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #707070;
          opacity: 1;
        }
      }
    }

    .two {
      /* Layout Properties */

      top: 3746px;
      left: 685px;
      width: 552px;
      height: 544px;

      /* UI Properties */

      background: #0241ff72 0% 0% no-repeat padding-box;
      opacity: 1;

      .forms_title_three {
        /* Layout Properties */

        top: 3935px;
        left: 840px;
        width: 238px;
        height: 28px;

        /* UI Properties */

        text-align: left;
        font: normal normal bold 24px/29px Helvetica Neue;
        letter-spacing: 0px;
        color: #ffffff;
        text-transform: uppercase;
        opacity: 1;
      }

      .p2 {
        /* Layout Properties */

        top: 3981px;
        left: 740px;
        width: 438px;
        height: 80px;

        /* UI Properties */

        text-align: center;
        font: normal normal normal 22px/27px Helvetica Neue;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
      }

      .dropdown2 {
        /* Layout Properties */

        top: 4094px;
        left: 865px;
        width: 189px;
        height: 39px;

        /* UI Properties */

        background: #0241ff 0% 0% no-repeat padding-box;
        opacity: 1;
      }
    }

    .three {
      /* Layout Properties */

      top: 3746px;
      left: 1263px;
      width: 552px;
      height: 544px;

      /* UI Properties */

      background: #0241ff72 0% 0% no-repeat padding-box;
      opacity: 1;

      .forms_title_four {
        /* Layout Properties */

        top: 3935px;
        left: 1428px;
        width: 215px;
        height: 28px;

        /* UI Properties */

        text-align: left;
        font: normal normal bold 24px/29px Helvetica Neue;
        letter-spacing: 0px;
        color: #ffffff;
        text-transform: uppercase;
        opacity: 1;
      }

      .p3 {
        /* Layout Properties */

        top: 3981px;
        left: 1316px;
        width: 438px;
        height: 80px;

        /* UI Properties */

        text-align: center;
        font: normal normal normal 22px/27px Helvetica Neue;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
      }

      .dropdown3 {
        /* Layout Properties */

        top: 4094px;
        left: 1469px;
        width: 133px;
        height: 39px;

        /* UI Properties */

        background: #0241ff 0% 0% no-repeat padding-box;
        opacity: 1;
      }
    }
  }
}

.telecom {
  /* Layout Properties */

  top: 5008px;
  left: -15px;
  width: 1950px;
  height: 578px;

  /* UI Properties */

  background: #f7f7f7 0% 0% no-repeat padding-box;
  opacity: 1;
}
