.logo{
    top: 98px;
left: 109px;
width: 206px;
height: 32px;

/* UI Properties */

background: transparent url('img/Texaglo Logo White.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.nav{
    background: transparent url('img/Texaglo Logo White.png') 0% 0% no-repeat padding-box;
opacity: 1;
    .one{
/* Layout Properties */

top: 106px;
left: 1475px;
width: 74px;
height: 17px;

/* UI Properties */

text-align: left;
font: normal normal medium 14px/17px Helvetica Neue;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
    }
    .two{
/* Layout Properties */

top: 106px;
left: 1619px;
width: 48px;
height: 17px;

/* UI Properties */

text-align: left;
font: normal normal medium 14px/17px Helvetica Neue;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
    }
    .three{
/* Layout Properties */

top: 106px;
left: 1733px;
width: 66px;
height: 17px;

/* UI Properties */

text-align: left;
font: normal normal medium 14px/17px Helvetica Neue;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
    }
}