.main {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .border {
    display: flex;
    justify-content: center;
    flex: 10 10;
    align-items: center;
    background-image: url(../../asset/back.png);
    background-size: cover;
  }

  .body {
    display: flex;
    // height: 680px;
    width: 830px;
    flex-direction: column;
    border: 1px solid #707070;
    box-shadow: inset 7px 0px 0px 0px rgba(49, 18, 121, 0.9),
      7px 0px 0px 0px rgb(40 3 128 / 90%);
    border: 1px solid #707070;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 33px;
    opacity: 1;
    padding: 30px;
    .bodyTop {
      display: flex;
      justify-content: center;
      align-items: center;
      /* Layout Properties */
      top: 286px;
      left: 763px;
      height: 37px;
      /* UI Properties */
      text-align: center;
      font: normal normal bold 33px/38px Helvetica Neue;
      letter-spacing: 0px;
      color: #874d9e;
      text-transform: uppercase;
      opacity: 1;
    }

    .bodyTop1 {
      display: flex;
      justify-content: center;
      align-items: center;
      /* Layout Properties */
      top: 325px;
      left: 763px;
      height: 37px;
      /* UI Properties */
      text-align: center;
      font: normal normal 300 33px/38px Helvetica Neue;
      letter-spacing: 0px;
      color: #874d9e;
      text-transform: uppercase;
      opacity: 1;
      text-decoration: underline;
      text-underline-offset: 15px;
      padding-top: 25px;
      padding-bottom: 59px;
    }

    .leftContainer {
      border-style: solid;
      border-radius: 15px;
      border-width: 1px;
      padding: 10px;
      border-color: #874d9e;
      width: 100%;
      height: 310px;
      overflow-y: auto;
    }

    .bodyMain {
      display: flex;
      height: 100%;
      padding-top: 10px;
      @media (max-width: 850px) {
        flex-direction: column;
      }
      .left {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        overflow: auto;
        background: #ffffff 0% 0% no-repeat padding-box;
        border-radius: 27px;
        opacity: 1;

        .part3 {
          display: flex;
          justify-content: center;
          @media (max-width: 850px) {
            display: none;
          }

          button {
            box-shadow: 2px 2px 0px 0px #000000fc;
            color: white;
            background: #a2b4d2 0% 0% no-repeat padding-box;
            border: 1px solid #707070;
            opacity: 1;
            width: 45px;
            height: 45px;
            margin-right: 30%;
            border-radius: 50%;
            text-align: center;
            font: normal normal normal 20px OpenSans;
            letter-spacing: 0px;
          }
        }
        overflow: unset;

        .part1,
        .part2 {
          display: flex;
          margin-bottom: 10px;
          align-items: center;
          justify-content: center;

          button:nth-child(1) {
            box-shadow: 3px 3px 0px 1px rgb(171 9 219 / 75%);
            background: #ffa7fc 0% 0% no-repeat padding-box;
            border: 1px solid #bc89bd;
            border-radius: 5px;
            width: 70%;
            margin-right: 10px;
            text-align: center;
            font: normal normal normal 17px OpenSans;
            letter-spacing: 0px;
            white-space: nowrap;
            color: #ffffff;
          }

          button:nth-child(2) {
            width: 36px;
            height: 36px;
            box-shadow: 2px 2px 0px 0px #3909db;
            background: #a7c7ff 0% 0% no-repeat padding-box;
            border: 1px solid #707070;
            text-align: center;
            border-radius: 50%;
            font: normal normal normal 20px OpenSans;
            letter-spacing: 0px;
            color: #ffffff;
            margin-right: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            input[type="file"] {
              position: absolute;
              left: 0;
              top: 0;
              opacity: 0;
              // display: none;
            }

            label {
              display: flex;
              justify-content: center;
              font-size: 1rem;
              font-weight: 300;

              cursor: pointer;
              outline: 0;
              user-select: none;
              border-radius: 4px;
              border-width: 1px;
              padding-left: 16px;
              padding-right: 16px;
              padding-top: 16px;
              padding-bottom: 16px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          button {
            box-shadow: 2px 2px 0px 0px #3909db;
            background: #a7c7ff 0% 0% no-repeat padding-box;
            border: 1px solid #707070;
            text-align: center;
            border-radius: 50%;
            font: normal normal normal 20px OpenSans;
            letter-spacing: 0px;
            color: #ffffff;
            width: 45px;
            margin-right: 3px;
          }
        }
      }

      .center {
        display: flex;
        flex-direction: column;
        flex: 1.5 1.5 0;
        margin-inline: 30px;
        background: #ffffff 0% 0% no-repeat padding-box;

        border-radius: 31px;

        .quote {
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          justify-content: center;
          background-color: white;
          box-shadow: 0px 8px 5px rgb(0 0 0);
          border: 1px solid #707070;
          margin-bottom: 20px;
        }

        .tapGroup {
          display: flex;
          flex-direction: column;
          flex: 1 1 0;
          margin-top: 10px;
          .setTap {
            flex: 1 1 0;
            display: flex;
            justify-content: space-between;
            border-style: none;
            border-color: none;
            padding-right: 10px;
            margin-bottom: 20px;
            white-space: nowrap;
            font-size: 12px;
            // @media (max-width: 380px) {
            //   flex-direction: column;
            // }
            button {
              box-shadow: 3px 3px 0px 0px #5d3d6a;
              background: lightgray 0% 0% no-repeat padding-box;
              border-style: none;
              border-color: none;
              border-radius: 9px;
              opacity: 1;
              height: 30px;
              text-align: center;
              font: normal normal normal 12px OpenSans;
              @media (max-width: 500px) {
                font: normal normal normal 10px OpenSans;
                margin-block: 10px;
              }
              letter-spacing: 0px;
              color: #ffffff;
              text-transform: uppercase;
            }
          }

          .actTap {
            display: flex;
            padding-right: 30px;
            @media (max-width: 500px) {
              flex-direction: column;
              padding-right: 0px;
            }

            .btnFunc {
              display: flex;
              flex-direction: column;
              flex: 1 1 0;
              div:nth-child(1) {
                padding-block: 10 px;
                margin-block: 10px;
                button {
                  background: #ffffff 0% 0% no-repeat padding-box;
                  @media (max-width: 500px) {
                    width: 100%;
                  }
                }
                text-align: center;
                font: normal normal normal 20px OpenSans;
                @media (max-width: 500px) {
                  font: normal normal normal 12px OpenSans;
                }
                white-space: nowrap;
                letter-spacing: 0px;
                color: #000000;
                display: flex;
              }
              .leftTap {
                display: flex;
                button:nth-child(1) {
                  margin-right: 10px;
                }
                justify-content: space-between;
                button {
                  flex: 1 1 0;
                  margin-block-start: 10px;
                  box-shadow: 2px 2px 0px 0px #bc89bd;
                  background: white 0% 0% no-repeat padding-box;

                  border-radius: 9px;
                  opacity: 1;
                  height: 20px;
                  text-align: center;
                  font: normal normal normal 10px OpenSans;
                  letter-spacing: 0px;
                  color: #ffffff;
                  text-transform: uppercase;
                }
              }
            }

            .btnDown {
              display: flex;
              justify-content: center;
              flex: 1 1 0;
              margin-inline: 10px;
              button {
                box-shadow: 5px 5px 0px 0px #096bdb;
                background: #a7c7ff 0% 0% no-repeat padding-box;
                border: 1px solid #bc89bd;
                border-radius: 9px;
                opacity: 1;
                text-align: center;
                font: normal normal normal 20px OpenSans;
                @media (max-width: 500px) {
                  margin-top: 20px;
                  width: 100%;
                  height: 52px;
                  margin-inline: 0;
                }

                @media (max-width: 450px) {
                  font: normal normal normal 10px OpenSans;
                }
                letter-spacing: 0px;
                color: #ffffff;
                text-transform: uppercase;
              }
            }
          }
        }

        .solState {
          text-align: center;
          font: normal normal normal 55px OpenSans;
          letter-spacing: 0px;
          color: #ffffff;
          flex: 1 1 0;
          align-items: flex-end;
          display: flex;
          justify-content: center;
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        margin-top: 5px;
        justify-content: space-around;

        // > div:nth-child(1),
        // > div:nth-child(6),
        > div:nth-child(8) {
          input {
            //   background-color: transparent;
            //   border: none;
            // text-align: center;
            //   font: normal normal bold 16px/18px Helvetica Neue;
            //   letter-spacing: 0px;
            //   color: #874D9E;
            //   text-transform: uppercase;
            //   opacity: 1;
          }
          width: 100%;
          background: #ad78b3 0% 0% no-repeat padding-box;
          border: 1px solid #707070;
          border-radius: 35px;
          text-align: center;
          font: normal normal normal 17px OpenSans, Regular;
          letter-spacing: 0px;
          color: #ffffff;
          align-items: center;
          display: flex;
          justify-content: center;
        }

        // > div:nth-child(2),
        // > div:nth-child(3),
        // > div:nth-child(4),
        > div:nth-child(5) {
          button {
            width: 100%;
            border: none;
            text-align: center;
          }

          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #707070;
          text-align: center;
          border-radius: 15px;
          font: normal normal normal 17px OpenSans;
          letter-spacing: 0px;
          color: #000000;
        }

        > div:nth-child(9),
        > div:nth-child(10),
        > div:nth-child(11),
        > div:nth-child(12) {
        }
        .config {
          display: flex;
          text-align: center;
          input:nth-child(1) {
            text-align: center;
            margin-right: 0px;
            width: 50%;
          }
          input {
            border: none;
            outline: none;
            background: #ffffff 0% 0% no-repeat padding-box;
            border: 1px solid #707070;
            flex: 1 1;
          }
        }

        .xy {
          display: flex;
          text-align: center;
          border: none !important;
          input:nth-child(1) {
            text-align: center;
            margin-right: 5px;
            width: 50%;
          }
          input:nth-child(2) {
            text-align: center;
            margin-left: 5px;
            width: 50%;
          }
          input {
            border: none;
            outline: none;
            border: 1px solid #707070;
            background: #fff0fb 0% 0% no-repeat padding-box;
            border-radius: 9px;
            text-align: center;
            font: normal normal bold 16px/18px Helvetica Neue;
            letter-spacing: 0px;
            color: #874d9e;
            text-transform: uppercase;
            opacity: 1;
          }
        }

        .traitState {
          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #874d9e;
          border-radius: 27px;
          opacity: 1;
          height: 160px;
          padding-bottom: 10px;
          margin-bottom: 10px;
          overflow-y: auto;
          > div {
            display: flex;
            justify-content: space-between;
            text-align: center;
            font: normal normal normal 14px OpenSans;
            letter-spacing: 0px;
            color: #ffffff;
            align-items: center;
            border-radius: 15px;
            padding-left: 15%;
            padding-right: 15%;
          }
          ::-webkit-scrollbar {
            display: block;
            width: 5px;
            height: 15px;
            margin-top: 30px;
          }
          ::-webkit-scrollbar-thumb {
            min-height: 40px;
          }
        }

        .splitCount {
          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #874d9e;
          border-radius: 27px;
          opacity: 1;
          height: 60px;
          padding-bottom: 10px;
          margin-bottom: 10px;
          overflow-y: auto;
          > div {
            display: flex;
            justify-content: space-between;
            text-align: center;
            font: normal normal normal 14px OpenSans;
            letter-spacing: 0px;
            color: #ffffff;
            align-items: center;
            border-radius: 15px;
            padding-left: 15%;
            padding-right: 15%;
          }
          ::-webkit-scrollbar {
            display: block;
            width: 5px;
            height: 15px;
            margin-top: 30px;
          }
          ::-webkit-scrollbar-thumb {
            min-height: 30px;
          }
        }

        .splitBalance {
          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #874d9e;
          border-radius: 27px;
          opacity: 1;
          height: 60px;
          padding-bottom: 10px;
          margin-bottom: 10px;
          overflow-y: auto;
          > div {
            display: flex;
            justify-content: space-between;
            text-align: center;
            font: normal normal normal 14px OpenSans;
            letter-spacing: 0px;
            color: #ffffff;
            align-items: center;
            border-radius: 15px;
            padding-left: 15%;
            padding-right: 15%;
          }
          ::-webkit-scrollbar {
            display: block;
            width: 5px;
            height: 15px;
            margin-top: 30px;
          }
          ::-webkit-scrollbar-thumb {
            min-height: 40px;
          }
        }

        .chainState {
          display: flex;
          flex-direction: column;

          .chain1,
          .chain2 {
            display: flex;
            align-items: center;
            > div:nth-child(1) {
              width: 110px;
            }
          }

          .chainTitle {
            display: flex;
            flex-direction: column;
            flex: 1 1;
            align-items: center;

            justify-content: center;
          }
        }

        .chainTitle {
          text-align: center;
          font: bold 16px OpenSans;
          letter-spacing: 0px;
          color: #000000;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .main {
    height: 100%;
    .border {
      padding: 50px;
      padding-bottom: 200px;
      .body {
        // display: flex;
        // height: 640px;
        // width: 830px;
        // flex-direction: column;
        // border: 1px solid #707070;
        // box-shadow: inset 7px 0px 0px 0px rgba(49, 18, 121, 0.9),
        //   7px 0px 0px 0px rgb(40 3 128 / 90%) ;
        // border: 1px solid #707070;
        // background: #FFFFFF 0% 0% no-repeat padding-box;
        // border-radius: 33px;
        // opacity: 1;
        // padding: 30px;
        display: flex;
        margin: 50px;
        height: 100%;
        width: 100%;
        flex-direction: column;
        border: 1px solid #707070;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: inset 0px 3px 6px rgb(0 0 0 / 99%),
          10px 7px 6px rgb(40 3 128 / 90%);
        border: 1px solid #707070;
        border-radius: 30px;
        opacity: 1;
        padding: 30px;

        .bodyTop {
          height: 4%;
          font: normal normal 20px/28px Helvetica Neue;
        }

        .bodymain {
          display: flex;
          height: 100%;
          flex-direction: column;

          .left {
            .part3 {
              display: none;
            }
          }
        }

        .bodyTop1 {
          font: normal normal 300 20px/28px Helvetica Neue;
        }
        .bodyTop2,
        .bodyTop3 {
          font: normal normal normal 20px OpenSans;
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .main {
    height: 100%;

    .body {
      .bodyTop {
        font: normal normal 15px/15px Helvetica Neue;
      }
      .bodyTop1,
      .bodyTop2,
      .bodyTop3 {
        font: normal normal normal 18px OpenSans;
      }

      .bodyTop2 {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .main {
    height: 100%;

    .body {
      margin: 140px 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .center {
    margin-inline: 0% !important;
  }
}

.customItemCenter {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #874d9e;
  border-style: none;
  border-color: none;
  border-radius: 9px;
  background: #d3a2c6 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: none;
  font: normal normal bold 11px/12px Helvetica Neue;
}

.customItem {
  width: 100%;
  height: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #874d9e;
  border-style: none;
  border-color: none;
  border-radius: 9px;
  background: #fff0fb 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: none;
  font: normal normal bold 11px/12px Helvetica Neue;
}

.customCenterHardcap {
}

.customCenterCheck {
  width: 15px;
  height: 15px;
  color: #874d9e;
  border-style: none;
  border-color: none;
  background: lightpink;
  margin-right: 0px;
  margin-top: 7px;
  /* Styling checkbox */
  background-color: rgb(196, 212, 196);
  accent-color: #9d3039;
  input[type="checkbox"]:checked {
    background-color: blue;
  }
  .checkbox:checked:before {
    background-color: green;
  }
}

.customeCheck {
  width: 15px;
  height: 15px;
  color: #874d9e;
  border-style: none;
  border-color: none;
  background: lightpink;
  margin-right: 5px;
  margin-top: 7px;
  /* Styling checkbox */
  background-color: rgb(196, 212, 196);
  accent-color: #9d3039;
  input[type="checkbox"]:checked {
    background-color: blue;
  }
  .checkbox:checked:before {
    background-color: green;
  }
}

.refreshButton {
  border-radius: 25%;
  border-style: none;
  border-color: none;
  width: "25px";
  height: "25px";
  box-shadow: 2px 2px 2px 2px #874d9e;
}

.shadowButton {
  box-shadow: 3px 3px 0px 0px #5d3d6a;
  background: lightgray 0% 0% no-repeat padding-box;
  border-style: none;
  border-color: none;
  border-radius: 9px;
  opacity: 1;
  height: 30px;
  text-align: center;
  font: normal normal normal 12px OpenSans;
  @media (max-width: 500px) {
    font: normal normal normal 10px OpenSans;
    margin-block: 10px;
  }
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
}

.mainImage {
  border-radius: 30px;
  border: 1px solid #874d9e !important;
}

.alignCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
@media (max-width: 500px) {
  .alignCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
  }
}

.letterButton {
  border-style: none;
  outline: none;
  color: pink;
  font-size: 40px;
  cursor: pointer;
  position: relative;
}

.layerButton {
  margin-top: 15px;
  border-style: none;
  border-color: none;
  width: 110px;
  height: 40px;
  border-radius: 20px;
  background-color: #edb7e0;
  color: white;
}

.centerContainer {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #874d9e;
  border-radius: 27px;
  opacity: 1;
  min-height: 300px;
  overflow-y: auto;
  position: relative;
}

.fileButton {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111;
  width: 35px;
  opacity: 0;
  cursor: pointer;
}

.dimensionTitle {
  text-align: center !important;
  font: normal normal bold 12px/14px Helvetica Neue !important;
  letter-spacing: 0px !important;
  color: #874d9e !important;
  text-transform: uppercase !important;
  opacity: 1 !important;
  border: none !important;
}

.arrowUp {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #edb7e0;
}

.arrowDown {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #edb7e0;
  cursor: pointer;
}

.rarityTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  font: normal normal bold 14px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #874d9e;
  text-transform: uppercase;
  opacity: 1;
  padding-bottom: 10px;
}

.upDownTitle {
  font: normal normal bold 14px/16px Helvetica Neue;
  color: #874d9e;
  font-size: 10px;
  cursor: pointer;
}

.rarityTitle1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 7px;
  text-align: center;
  font: normal normal bold 14px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #874d9e;
  text-transform: uppercase;
  opacity: 1;
}

.onlyBottom {
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: center;
  margin-top: -40px;
  text-align: center;
  border-style: solid;
  border-color: none;
  border-width: 3px;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
  border-color: #874d9e;
  text-align: center;
  font: normal normal bold 16px/18px Helvetica Neue;
  letter-spacing: 0px;
  color: #874d9e;
  text-transform: uppercase;
  opacity: 1;
  width: 100%;
}
