.main {
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0;
  display: flex;
  flex: 10 10;
  //background-image: url(../../asset/back.png);
  background-size: cover;

  .tool_card {
    background-color: grey;
    opacity: 1;
    max-width: 100%;
    float: inline-start;
    border-radius: 1em;
    height: 93%;
    @media screen and (min-width: 200px) {
      margin: 0% 0%;
    }
    @media screen and (min-width: 700px) {
      margin: 5% 5%;
    }
  }

  .tool_image {
    min-width: 100%;
    min-height: 360px;
    border-radius: 1em;

    background-image: url(../../asset/back.png);
  }

  .tool_image1 {
    min-width: 100%;
    min-height: 360px;
    border-radius: 1em;

    background-image: url(../../asset/main.jpeg);
  }

  .tool_title {
    transform: translate(0%, 250px);
    max-width: 100%;
    min-height: 50px;
    padding-top: 1.5%;
    background-color: grey;
  }

  .how {
    transform: translate(0%, 280px);
    font-size: 25px;
    max-width: 170px;
    min-height: 150px;
    background-color: grey;
  }

  .tool_button {
    text-align: center;
    @media screen and (min-width: 200px) {
      padding: 50px;
    }
    @media screen and (min-width: 700px) {
      padding: 10px;
    }
  }

  .tool_btn {
    border-radius: 2em;
  }

  .message {
    transform: translate(0%, 10px);
    text-align: left;
    font-size: 20px;
    max-width: 100%;
    min-height: 50px;
    margin: 20px;
    border-radius: 70px;
  }

  .container2 {
    background-color: RED;
  }

  .border {
    display: flex;
    flex: 10 10;
    //background-image: url(../../asset/back.png);
    background-size: cover;
  }

  .body {
    display: flex;
    //width: 100%;
    margin: 150px 5%;
    flex-direction: column;

    // border: 1px solid #707070;
    //background: #7068af 0% 0% no-repeat padding-box;
    //  box-shadow: inset 0px 3px 6px rgb(0 0 0 / 99%),
    // 10px 7px 6px rgb(40 3 128 / 90%);
    // border: 1px solid #707070;
    // border-radius: 30px;
    // opacity: 1;
    // padding: 60px;
    // justify-content: space-around;
    .bodyTop1 {
      display: flex;
      //background-color: #ad78b3;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      text-align: center;
      letter-spacing: 0px;
      text-align: center;
      font: normal normal normal 60px OpenSans;
    }

    .bodyTop2 {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      text-align: center;
      letter-spacing: 0px;
      text-align: center;
      float: inline-start;
      font: normal normal normal 30px Helvetica;
    }

    .bodyTop8 {
      display: flex;
      margin-right: 307px;
      margin-left: 20%;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      text-align: center;
      letter-spacing: 0px;
      text-align: center;
      float: inline-start;
      font: normal normal normal 30px Helvetica;
    }

    .bodyTop9 {
      // display: flex;
      //margin-right: 500px;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      // text-align: center;
      letter-spacing: 0px;
      text-align: center;
      float: inline-start;
      font: normal normal normal 30px Helvetica;
    }

    .bodyTop10 {
      display: flex;
      margin-right: 477px;
      margin-left: 20%;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      text-align: center;
      letter-spacing: 0px;
      text-align: center;
      float: inline-start;
      font: normal normal normal 30px Helvetica;
    }

    .bodyTop11 {
      display: flex;
      margin-right: 404px;
      margin-left: 20%;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      text-align: center;
      letter-spacing: 0px;
      text-align: center;
      float: inline-start;
      font: normal normal normal 30px Helvetica;
    }

    .bodyTop12 {
      display: flex;
      margin-right: 477px;
      margin-left: 20%;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      text-align: center;
      letter-spacing: 0px;
      text-align: center;
      float: inline-start;
      font: normal normal normal 30px Helvetica;
    }

    .bodyTop7 {
      display: flex;
      margin-right: 500px;
      margin-left: 25%;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      text-align: center;
      letter-spacing: 0px;
      text-align: center;
      float: inline-start;
      font: normal normal normal 30px Helvetica;
    }

    .bodyTop6 {
      // display: flex;
      //margin-right: 500px;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      text-align: center;
      letter-spacing: 0px;
      text-align: center;
      float: inline-start;
      font: normal normal normal 30px Helvetica;
    }

    .bodyTop7 {
      // display: flex;
      //margin-right: 500px;
      margin-left: 50px;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      text-align: center;
      letter-spacing: 0px;
      text-align: right;
      float: inline-end;
      font: normal normal normal 30px Helvetica;
    }

    .bodyTop3 {
      button {
        background-color: white;
        border: none;
        outline: none;
      }

      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      text-align: center;
      letter-spacing: 0px;
      text-align: center;
      float: inline-start;
      font: normal normal normal 30px Helvetica;
    }
  }
}

@media screen and (max-width: 900px) {
  .main {
    .body {
      .bodyTop1,
      .bodyTop2,
      .bodyTop3 {
        font: normal normal normal 30px OpenSans;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .main {
    .body {
      margin: 140px 80px;

      .bodyTop1,
      .bodyTop2,
      .bodyTop3 {
        font: normal normal normal 30px OpenSans;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .main {
    .body {
      margin: 140px 50px;

      .bodyTop1,
      .bodyTop2,
      .bodyTop3 {
        font: normal normal normal 18px OpenSans;
      }

      .bodyTop2 {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .main {
    .body {
      margin: 140px 20px;
    }
  }
}

@media screen and (max-width: 250px) {
  .main {
    .body {
      margin: 140px 0px;
    }
  }
}

.content_contact_container {
  height: 100%;
  // margin-bottom: 15%;
  @media screen and (min-width: 250px) {
    padding: 0 5%;
  }
  @media screen and (min-width: 500px) {
    padding: 0 5%;
  }
  @media screen and (min-width: 830px) {
    padding: 0 5%;
  }
  @media screen and (min-width: 1000px) {
    padding: 0 5%;
  }
}
