.header {
  background-color: transparent;
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
  align-items: center;
  color: white;
  // padding: 18px 0;
  background-color: rgb(47 28 116) !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  font-size : 1rem;
  
  .container {
    width: 100%;
    background-color: red;
  }
  .logo {
    width: 10rem;
  }

  .dmh {
    background-image: url(../../asset/dmh.png);
  }

  .headeroption {
    display: flex;
    align-items: center;
  }

  .register {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    @media (min-width: 200px) {
      padding-left: 0px;
      padding-right: 0px;
      font-size: 10px;
    }
    @media (min-width: 600px) {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 1rem;
    }
    &:hover {
      transition: all 0.15s ease-in;
      color:  rgba(230, 230, 230, 0.5);
    }
  }

  .texaglo {
    margin-top: 5px;
    padding-left: 18px;
    padding-right: 18px;
  }

  // padding-inline: 4%;
  
  padding: 0rem 1rem;
  span {
    padding: 5px;
  }
}

.header1 {
  background-color: transparent;
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 18px 0;
  background-color: rgba(216, 114, 46, 0.6) !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  .container {
    width: 100%;
    background-color: red;
  }
  .logo {
    width: 200px;
  }

  .dmh {
    background-image: url(../../asset/dmh.png);
  }

  .headeroption {
    display: flex;
    align-items: center;
  }

  .register {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    @media (min-width: 200px) {
      padding-left: 0px;
      padding-right: 0px;
      font-size: 10px;
    }
    @media (min-width: 600px) {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 16px;
    }
    &:hover {
      color: rgb(85, 85, 83);
    }
  }

  .texaglo {
    margin-top: 5px;
    padding-left: 18px;
    padding-right: 18px;
  }

  padding-inline: 4%;
  span {
    padding: 10px;
  }
}

.footer {
  display: flex;
  flex: 1 1 0;
  background-size: cover !important;
  padding-inline: 10%;
  padding-block: 10px;
  align-items: flex-end;
  color: white;
  font-weight: bold;
  // position: fixed;
  // margin-top: 200px;
  // left: 0px;
  // bottom: 0px;

  padding-bottom: 60px;
  background: linear-gradient(
      rgba(53, 0, 133, 0.7) 1%,
      rgba(24, 4, 55, 0.65) 100%
    ),
    url(../../asset/back.png) bottom, rgb(29, 5, 67);
  padding-top: 60px;
  width: 100%;

  @media (max-width: 1200px) {
    font-size: 13px;
    padding-inline: 17%;
  }
  @media (max-width: 850px) {
    padding-inline: 10%;
    font-size: 11px;
  }

  @media (max-width: 600px) {
    font-size: 8px;
  }

  .footerLeft {
    display: flex;
    flex: 1 1;
    justify-content: space-evenly;
    text-decoration: underline;
    @media (max-width: 600px) {
      flex-direction: column;
      height: 100%;
    }
  }

  .footerCenter {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 2 2;
    flex-direction: column;
  }

  .twitter {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgb(255 255 255 / 40%);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
  }

  .icon {
    margin-bottom: 5px;
  }

  .discord {
    position: fixed;
    z-index: 2147483000;
    cursor: pointer;
    outline: none;
    height: 56px;
    border-radius: 56px;
    border: none;
    padding: 0px;
    transition: box-shadow 0.2s ease 0s, background-color 0.3s ease 0s,
      opacity 0.2s ease 0s, transform 0.2s ease 0s;
    animation: 0.3s ease 0s 1 normal none running animation-1nrbrg8;
    right: 30px;
    bottom: 30px;
    box-shadow: rgb(88 101 242 / 30%) 0px 3px 5px -1px,
      rgb(88 101 242 / 14%) 0px 6px 10px 0px,
      rgb(88 101 242 / 12%) 0px 1px 18px 0px;
    background-color: rgb(88, 101, 242);
  }

  .discordClose {
    position: fixed;
    z-index: 2147483000;
    cursor: pointer;
    outline: none;
    height: 56px;
    border-radius: 56px;
    border: none;
    padding: 0px;
    right: 35px;
    bottom: 30px;
    background-color: transparent;
  }

  .services {
    color: white;
  }

  .footerRight {
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
  }
}

.mobile_menu_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999999999;
}

.mobile_menu_content_box {
  width: 75%;
  background-color: #00185f;
  height: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  transition: 400ms ease-in-out;

  span {
    padding: 0;

    a {
      padding: 10px 30px !important;
      margin: 0 !important;
      display: block;
      color: rgb(255, 255, 255) !important;
      font-size: 16px !important;
    }
  }
}

// .__desktop_nav {
//   display: none !important;

//   @media (min-width: 768px) {
//     display: flex !important;
//   }
// }

// @media (min-width: 768px) {
//   .__mobile_nav {
//     display: none !important;
//   }
// }
